---
layout: handbook-page-toc
title: People Success Performance Indicators
description: "GitLab's People Success Department Performance Indicators."
---

## On this page
{:.no_toc .hidden-md .hidden-lg}

- TOC
{:toc .hidden-md .hidden-lg}

<%= performance_indicators('People Success') %>
