---
title: Education Services
suppress_header: true
description: "GitLab Education Services"
extra_css:
  - services.css
---

.wrapper
  .simple-header
    %h1
      GitLab Education Services
    %h2.headline-subtitle
      Train your teams to become efficient in GitLab & Concurrent DevOps

.services-inner
  .page-container.container
    %ol.breadcrumb
      %li 
      = breadcrumbs(current_page)
    .row
      .col-md-10.col-md-offset-1.tile
        %h2 Summary
        %p Your teams are composed of highly proficient technical experts. With any comprehensive solution, there is a learning curve to consider. Our product specialists - technology professionals themselves - are available to train your teams to become efficient in GitLab quickly.

        %h2 Who is this service for?
        %p Anyone looking to cut "under the curve" of learning not only GitLab but Concurrent DevOps best practices.

        %h2 What's included?
        %p GitLab offers a variety of courses delivered at your site or remotely by our experienced GitLab trainers. Starting in May 2020, we're including official GitLab Technical Certification assessments for attendees of selected courses. In addition, we offer specialized training that can be customized even further to meet your team's unique needs.
        %p Here are the standard courses we offer.
        %ul
          - data.learn.learn.select{|course| course.maintainer == "PS Education Services" && course.assessment == "None" && course.live_date && Date.parse(course.live_date) <= Date.today}.each do |course|
            %li 
              %a{href: "#{course.url}"} 
                #{course.name}

        %p 
          Our latest list of available 
          %a{href: '/learn/certifications/public/#technical-certifications-overview'}
            technical certifications 
          includes:
        %ul
          - data.learn.learn.select{|course| course.maintainer == "PS Education Services" && course.assessment == "Certification" && course.live_date && Date.parse(course.live_date) <= Date.today}.each do |course|
            %li 
              %a{href: "#{course.url}"}
                #{course.name}
        %p
          For organizations that need to scale training to a larger audience, we also offer a 
          %a{href: '/services/education/train-the-trainer/'}
            Train the Trainer
          option.
        %p 
          For a complete list of Professional Services offerings visit the 
          %a{href: '/services/catalog/'} 
            Full Catalog page.

= partial "includes/services-contact-form"
